In [1]:
("hello world")

'hello world'

In [2]:
print("My name is {yash martin} and I am {23} years old.")

My name is {yash martin} and I am {23} years old.

In [8]:
import keyword

print("run:")
print(keyword.kwlist)

run:
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [15]:
import keyword

def is_keyword(word):
  """Checks if a word is a Python keyword.

  Args:
    word: The word to check.

  Returns:
    True if the word is a keyword, False otherwise.
  """
  return keyword.iskeyword(word)

# Example usage
word1 = "for"
word2 = "example"

print(f"'{word1}' is a keyword: {is_keyword(word1)}")
print(f"'{word2}' is a keyword: {is_keyword(word2)}")

'for' is a keyword: True
'example' is a keyword: False

In [16]:
# Creating a list
my_list = ["apple", "banana", "cherry"]

# Creating a tuple
my_tuple = ("orange", "mango", "grape")

# Trying to change an element in the list
print("Original list:", my_list)
my_list[1] = "kiwi"  # This works, as lists are mutable
print("Updated list:", my_list)

# Trying to change an element in the tuple (will result in an error)
print("Original tuple:", my_tuple)
try:
    my_tuple[1] = "pineapple"  # This will raise a TypeError
except TypeError as e:
    print("Error:", e)

Original list: ['apple', 'banana', 'cherry']
Updated list: ['apple', 'kiwi', 'cherry']
Original tuple: ('orange', 'mango', 'grape')
Error: 'tuple' object does not support item assignment

In [17]:
def modify_data(immutable, mutable):
    immutable = immutable * 2
    mutable.append(4)
    return immutable

immutable_data = 10
mutable_data = [1, 2, 3]
returned_immutable = modify_data(immutable_data, mutable_data)

print("Immutable data:", immutable_data)
print("Returned immutable data:", returned_immutable)
print("Mutable data:", mutable_data)

Immutable data: 10
Returned immutable data: 20
Mutable data: [1, 2, 3, 4]

In [18]:
# Example: Logical Operators (AND, OR, NOT) with generic variables
a, b, c = True, False, True

# AND: Both conditions must be True
if a and c:
    print("Both a and c are True (AND condition).")

# OR: At least one condition must be True
if b or c:
    print("Either b or c is True (OR condition).")

# NOT: Reverses the condition
if not b:
    print("b is False (NOT condition).")

Both a and c are True (AND condition).
Either b or c is True (OR condition).
b is False (NOT condition).

In [19]:
s = "91"
num = int(s)
print(num)

91

In [20]:
string = "33.28"

# using float method to convert string to float
num = float(string)

print(num)
print(type(num))

33.28
<class 'float'>

In [27]:
s = "True"

# Convert string to boolean using eval
boolean_value = eval(s)

print(boolean_value)

True

In [28]:
# Initial list with mixed data types
my_list = ['1', '2', '3.14', 4, 5.6]

# Type casting elements to integers
int_list = [int(x) for x in my_list if isinstance(x, str) and x.isdigit()]
# Type casting elements to floats
float_list = [float(x) for x in my_list if isinstance(x, str)]
# Type casting elements to strings
str_list = [str(x) for x in my_list]

# Printing the results
print("Original List:", my_list)
print("Integer List:", int_list)
print("Float List:", float_list)
print("String List:", str_list)

Original List: ['1', '2', '3.14', 4, 5.6]
Integer List: [1, 2]
Float List: [1.0, 2.0, 3.14]
String List: ['1', '2', '3.14', '4', '5.6']

In [30]:
def check_number(num):
    if num > 0:
        print(f"{num} is positive.")
    elif num < 0:
        print(f"{num} is negative.")
    else:
        print(f"{num} is zero.")

# Get user input
number = float(input("Enter a number: "))

# Check the number
check_number(number)

Enter a number: 5
5.0 is positive.

In [31]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [32]:
sum_even = 0
for number in range(2, 51, 2):
    sum_even += number
print(f"The sum of even numbers between 1 and 50 is: {sum_even}")

The sum of even numbers between 1 and 50 is: 650

In [33]:
def reverse_string(s):
    reversed_s = ""
    length = len(s) - 1
    while length >= 0:
        reversed_s += s[length]
        length -= 1
    return reversed_s

input_string = "Hello, pwskills!"
reversed_string = reverse_string(input_string)
print(f"Original string: {input_string}")
print(f"Reversed string: {reversed_string}")

Original string: Hello, pwskills!
Reversed string: !sllikswp ,olleH

In [34]:
def factorial(num):
    """
    Calculates the factorial of a given number using a while loop.
    """
    if num < 0:
        return "Factorial is not defined for negative numbers"
    result = 1
    i = 1
    while i <= num:
        result *= i
        i += 1
    return result

# Get user input
number = int(input("Enter a number to find its factorial: "))

# Calculate and print the factorial
print(f"The factorial of {number} is: {factorial(number)}")

Enter a number to find its factorial: 7
The factorial of 7 is: 5040